---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: weather
spec:
  replicas: 1
  selector:
    matchLabels:
      app: weather
  template:
    metadata:
      labels:
        app: weather
    spec:
      containers:
        - name: weatherapp
          image: ahmedrabie90/weather_demo_devops:IMAGE_VERSION
          ports:
            - containerPort: 80

---
apiVersion: v1
kind: Service
metadata:
  name: weather
spec:
  selector:
    app: weather

  ports:
    - port: 80
      targetPort: 80
  type: LoadBalancer
